* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #151515;
    color: white;
    font-family: sans-serif;
}

header {
    background-color: #151515;
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 900px;
    /* background-color: rgb(171, 163, 163); */
    margin: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-content ul {
    display: flex;
    gap: 10px;
}

/* Sección welcome */
#welcome {
    /* background-color: rgb(152, 149, 149); */
}

.welcome-content {
    display: flex;
    padding: 50px 0;
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: rgb(243, 37, 112); */
    flex: 2;
}

.col-1 h3 {
    font-size: 3rem;
}

.col-1 h3 span {
    text-decoration: underline;
    text-decoration-color: #0e67db;
}

.col-1 a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration-color: #0e67db;
}

.col-2 {
    /* background-color: rgb(235, 132, 202); */
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.pizza,
.img-hoja,
.img-tomato {
    position: absolute;
}

.img-pizza {
    filter: blur(0.9px)
}

.img-tomato {
    width: 80%;
    right: -0px;
    top: 0;
}

.img-hoja {
    width: 40%;
    left: 0;
    bottom: 40px;
    transform: rotate(40deg);
}

/* Sección productos */

#productos {
    background-color: #fff;
}

#productos>.container {
    background-color: #b1b6bc;
}

.productos-content {
    display: flex;
    gap: 10px;
}

.product-card {
    flex: 1;
    position: relative;
}

.productos-content div:nth-child(1) {
    background-color: yellowgreen;
}

.productos-content div:nth-child(2) {
    background-color: rgb(216, 219, 28);
}

.productos-content div:nth-child(3) {
    background-color: rgb(120, 19, 208);
}

.card-hover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51) !important;
    top: 0;
    left: 0;
}

.card-hover-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.card-hover-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

.btn-guardar {
    background-color: rgb(255, 21, 21);
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;

}

.product-card img {
    width: 100%;
}